.list > li {
    margin-top: 1em;
}
.list {
    list-style-type: none;
    margin-top: 2em;
}

.error {
    font-style: italic;
    color: orangered;
}

.header {
    margin-top: 1em;
}
.header > h1 {
    display: inline;
}
.header > small {
    color: grey;
    font-style: italic;
    margin-left: 1em;
}