.news-active-record {
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #bbb;
}

.news-important {
    background-color: #fff0e6;
}

.news-normal {
    border: 1px solid #bbb;
}

.news-important-label {
    color: #c00;
    font-style: italic;
    font-size: 0.9em;
}

.news-date {
    font-style: italic;
    color: #666;
    float: right;
    margin-right: 1em;
    font-size: 10px;
}
.news-content {
    margin-top: 1em;
}