#accept-form {
    margin-bottom: 2em;
}
.attachment {
    margin-left: 0.5em;
    margin-right: 1em;
}
.small {
    width: 70px;
}
button:not(.pull-right):not(.close) {
    margin-right: 3em;
}
.field-defenceacceptform-extracredits,  .field-defenceacceptform-extracredits .form-control {
    display: inline;
}
.result {
    text-align: center;
    margin: 1em auto;
}

.edit-opponent {
    padding-left: 0.7em;
}