.page-container {
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 2em;
}
.chosen-row {
    font-weight: bold;
    text-decoration: underline;
    background-color: #efefed;
    color: black;
}